
body {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    .name{
        text-decoration: none;
        color: black;
        margin-top: 1.9em;
        margin-left: 2em;
        font-size: larger;
        font-weight: bold;
    }

    nav{
        transform: translateX(100%);
        position: fixed;
        right: 0;   
        z-index: 123213;
        background-color: rgba(250, 218, 187, 0.87);
        margin: -1.5em;

        svg{
            float: right;
            margin: 2em;
        }

        ul{
            height: 100vh;
            display: block;
            list-style: none;
            margin-top: 1em;
            padding-top: 2em;
            li{
                margin-right: 2.5em;
                padding: 1em;
                padding-left: .5em;
                a{
                    color: black;
                    text-decoration: none;
                    font-size: large;
                    letter-spacing: .03rem;
                    line-height:  2rem;
                }

            }
        }
    }

}


@media screen and (min-width: 720px) {
    header{

       nav{
           transform: translateX(0%);
           background-color: unset;
           svg{
               display: none;
           }
           ul{
              display: flex;
              justify-content: space-between;
              margin-top: .5em;
              margin-right: 3em;
              li{
                  padding-left: 0em;
                  padding-right: 0em;
                  margin-right: 1.5em;
              }
           }
       }
    }
}
