
body {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
}



header{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    .name{
        z-index: 2;
        text-decoration: none;
        color: black;
        margin-top: 1.9em;
        margin-left: 0.5em;
        font-size: 1.5rem;
        font-weight: bold;
        color:white;
        &:hover{
            color: #dabd1d;
        }
    }


    nav{
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
        position: fixed;
        right: 0;   
        z-index: 123213;
        background-color: rgba(250, 218, 187, 0.87);
        margin: -1.5em;

        .closeBtn{
            svg{
                float: right;
                margin: 2em;
            }
        }

        ul{
    
            height: 100vh;
            display: block;
            list-style: none;
            margin-top: 1em;
            padding-top: 2em;
            li{
                margin-right: 2.5em;
                padding: 1em;
                padding-left: .5em;
                a{
                    color: black;
                    text-decoration: none;
                    font-size: large;
                    letter-spacing: .03rem;
                    line-height:  2rem;
                }

            }
        }
    }

}

.hero-content{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100vh;
    .first-intro{
        position: absolute;
        z-index: 0;
        margin-top: 10em;
        margin-left: 2em;
        color: white;
        opacity: 0;
        p{
            font-size: large;
        }
        animation: textload 2s ease-in-out forwards;
    }
    .hero-img{
        position:absolute;
        z-index: 1;
        background-image: url('/assets/images/hero-img.png');
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: 20%;
        animation: introload 1.5s ease-in-out forwards;
        
    }

    svg{
        position: absolute;
        z-index: 2;
        right: 0;
        height: 10vh;
        width: 8%;
        margin-right: 1em;
        padding-right: 1.5em;
        -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
        filter: invert(100%);       
    }

}

.down-arrow{
    svg{
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: 0;
        height: 9vh;
        width: 7%;
        margin-left: 1em;
        padding-left: 1em;
        margin-bottom: 3em;
        -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
        filter: invert(100%);
        animation: arrowupdown .8s alternate-reverse infinite;  
    }
}

.open-nav{
    transform: translateX(0%);
}



.slider-bottom{
    .slider-footer {
        position: fixed;
        bottom: 10px;
        right: 15px;
        z-index: 1111;
        ul{
            margin-bottom: 0;
            margin-left: -10px;
            list-style: none;
            display: flex;
            li{
                a{

                    text-decoration: none;
                    font-size: 16px;
                    justify-content: space-around;
                    color: #ffffff;
                    height: 40px;
                    line-height: 38px;
                    width: 40px;
                    border-radius: 50%;
                    position: relative;
                    overflow: hidden;
                    display: flex;
                }
            }

        }

    }

}

.Projects{

    z-index: 2;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: auto;
    position: relative; //made relative
    transform: translateY(89.5vh);
    padding-left: 1em;
    padding-right: 1em;
    
    .projectdesc{
    
        color: white;

    }

    animation: projectdown .5s forwards ease-in-out;
}

@keyframes projectdown {
    from{
        transform: translateY(40vh);
    }to{
        transform: translateY(89.5vh);
    }
    
}

  
.ProjectVisual{
    z-index: 2;
    padding-top: 3em;
    animation: projectup 1s forwards ease-in-out;
}

@keyframes projectup {
    from{
        
    }to{
        transform: translateY(46.3vh);
    }
}

.ProjectVisualName{
        z-index: 3;
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
        color:white;
        background-color: black;
        padding-bottom: 1em;
        display: block;
        width: 100%;
        position: fixed;
        left: 0%;
        text-align: center;
        transform: translate(0%, 0%);
        padding-top: 1em;
        &:hover{
            color: #dabd1d;
        }

        animation: bringtitle 1.5s forwards ease-in-out;
}



@keyframes bringtitle {
    from{
        transform: translate(0%,-100%);
    }to{
        transform: translate(0%,0%);
    }
    
}





@media screen and (min-width: 720px) {
    .slider-bottom{
        display: none;
    }

    .ProjectVisualName{
        text-align: left;
        padding-left: 6%;
        padding-top: 3.65%;
    }

    .hero-content{
        background-color: black;
        width: 100%;
        .first-intro{
            padding-left: 7%;
        }

        .hero-img{
            right: 0;
            width: 800px;
        }
        
        svg{
            display: none;
        }
    }

    header{

        .name{
            padding-left: 7.1%;
        }

       nav{
           transform: translateX(0%);
           background-color: unset;
           svg{
               display: none;
           }
           ul{
              display: flex;
              justify-content: space-between;
              margin-top: .5em;
              margin-right: 3em;
              li{
                  padding-left: 0em;
                  padding-right: 0em;
                  margin-right: 1.5em;
                  a{
                      color: white;
                  }
              }
           }
       }
    }
}


@keyframes introload{
    from{
        clip-path: polygon(0 0, 40% 0, 40% 100%, 0 100%);
        //clip-path: polygon(0 0, 100% 0, 100% 18%, 0 18%);

    }to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
       //clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }
}

@keyframes arrowupdown{
    from{
        opacity: 0.5;
        transform: translateY(-15%);

    }to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes textload {

    from{
        transform: translateX(-100%);
    }to{
        transform: translateY(0%);
        opacity: 1;
    }
    
}


.GetInTouch{
    height: 40vh;
    width: 100%;
    position: relative;
    background-color: #000000;
    background-color: #2d3436;
    background-color: #130f40;
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
    
    
    margin-top: 40vh;
    //display: block;

    display: flex;
    align-items: center;
    justify-content: center;



    .text-box{ 
        .btn{
            transform: translateX(-40%);
        }

        .btn:link,
    .btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: absolute;
    }
    
    .btn:hover {
        transform: translate(0px -3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    .btn:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .btn-white {
        background-color: #fff;
        color: #777;
    }
    
    .btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    .btn-white::after {
        background-color: #fff;
    }
    
    .btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
    
    .btn-animated {
        animation: moveInBottom 5s ease-out;
        animation-fill-mode: backwards;
    }
    
    @keyframes moveInBottom {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
}

}




